.Header {
  h1 {
    text-align: center;
    padding: 1em;
    background-color: aquamarine;
    margin: 0 0 1em 0;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      padding: 0;
    }

    a {
      text-decoration: none;
      font-size: 1.4em;
      background-color: aqua;
      padding: 1em;
      border-radius: 1em;

      &:hover {
        background-color: beige;
      }

      &::before {
        content: 'before ';
      }

      &::after {
        content: ' after';
      }
    }
  }
}
